<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="fragments/html_header :: html_header"/>

    <body class="bj-body" >

        <div th:replace="fragments/header :: header"></div>


        <div class="bj-jumbotron jumbotron jumbotron-fluid" >
            <div class="container">
                <p class="">
                    Votre JUG est partenaire de l'événement 
                </p>
<div><a href="http://www.eclipsecon.org/france2018"><img border="0" src="https://www.eclipsecon.org/france2018/sites/default/files/ECF%20friends%20728x90_%202018.png" height="90" width="728" alt="EclipseCon France 2018"/></a></div>            </div>
        </div>
        
        <div class="bj-shift-up">
            <div class="bj-event-container container">
                <!-- Talk Header -->
                <div class="bj-event-header">
                    <div class="bj-event-metadata row">
                        <div class="bj-intro col-md-12">
                            <strong></strong>
                        </div>
                    </div>
                    
                </div>

                <div class="bj-event-description row">
                    <div class="col-md-9">
                    <br/>
                        <h4>Description de l'évènement</h4>
                        <div>
<p><b>EclipseCon France 2018</b> sera la cinquième édition de la conférence au cœur de la ville rose. Tous les ans, la conférence rassemble environ 300 personnes autours des thématiques supportées par la fondation Eclipse, thèmes qui ne se limitent plus à l'environnement de développement intégré (EDI/IDE) Eclipse. Les sujets traités sont variés : les objets connectés, Cloud et Devops, Data Science, Modeling, ainsi que Jakarta EE (ex‐Java EE) et Eclipse MicroProfile, sujets qui seront présents en force pour la première fois.</p>

<p><b>Transfert de Java EE et partenariat avec les JUGs</b></p>

<p>Suite au transfert récent de Java EE à la fondation Eclipse, des dizaines de projets et des millions de lignes de code sont en train d'être migrés. Glassfish et les JSR dont il dépend sont en cours de transfert pour bientôt devenir Eclipse Glassfish. La fondation souhaite profiter de cette édition 2018 d'EclipseCon en France pour en faire le premier évènement fédérateur de cette nouvelle communauté élargie. Tous les acteurs de l'écosystème Java et membres des différents JUG de France sont invités à participer et contribuer à l'évènement en tant qu'intervenant ou participant. La création du nouveau groupe de travail Jakarta EE, associé à l'investissement dans les autres projets comme Eclipse OpenJ9 ou Eclipse DeeLearning4J, montrent le rôle clé joué aujourd'hui par la fondation dans l'innovation autour de Java.</p>

<p><b>Le thème EE4J/Java EE et les autres thèmes Java à EclipseCon France 2018</b></p>

<ul>
<li>Eclipse MicroProfile (microservices pour Java) ;</li>
<li>Eclipse OpenJ9 (machine virtuelle Java optimisée) ;</li>
<li>Eclipse DeepLearning4J (machine learning) ;</li>
<li>Eclipse JNoSQL (NoSQL pour Java EE) ;</li>
<li>ou encore Eclipse Vert.x (Reactive Apps pour Java, mais aussi JavaScript, Groovy, Ruby, Ceylon, Scala ou Kotlin).</li>
</ul>
<br/>

<p><b>Conditions d'accès privilégiées pour les membres du JUG Bordeaux</b><br/>Contactez l'équipe à l'adresse team [at] bordeauxjug.org</p>



<p><b>Liens utiles:</b></p>
<ul>
<li>EclipseCon France <a href="https://www.eclipsecon.org/france2018/conference/schedule/session/2018-06-12">programme</a></li>
<li>EclipseCon France <a href="https://www.eclipsecon.org/france2018/registration">inscriptions</a></li>
<li>Mike Milinkovitch <a href="https://mmilinkov.wordpress.com/2018/01/22/eclipse-community-directions-for-2018/">blog article</a>: Eclipse Community Directions for 2018</li>
<li>Jakarta EE Working Group <a href="https://www.eclipse.org/org/workinggroups/jakarta_ee_charter.php">Charter.</a> </li>
<li>BordeauxJUG est <a href="https://www.eclipsecon.org/france2018/sponsor/bordeaux-jug">partenaire</a> de l'événement.</li>
</ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div> 
                
            <div th:replace="fragments/footer :: footer"></div>
        </div>


        <div th:include="fragments/html_js_declaration :: html_js_declaration"/> 
    </body>
</html>



