@import url('https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro');

$bj-default-font-family: 'Source Sans Pro', sans-serif;
$bj-default-font-color: #363535;
$bj-dark-font-color: #34383D;
$bj-invert-font-color: #FEFEFE;

