@import 'bdxjug_colors.scss';

//$btn-primary-color: $bj-primary-color;
//$btn-primary-bg:                 $brand-primary
// $btn-primary-border:             darken($btn-primary-bg, 5%)

.bj-btn {
    color: $bj-white;
    border-radius: 24px;
    border-color: $bj-white;
    font-weight: 500;
    &:hover {
        color: $bj-grey;
    }
}

.bj-btn-black {
    @extend .bj-btn;
    border-color: $bj-black;
    background: $bj-black-gradient;
}

.bj-btn-primary {
    @extend .bj-btn;
    border-color: $bj-primary-color;
    background: $bj-primary-color-gradient;
}

.bj-btn-secondary {
    @extend .bj-btn;
    background: $bj-secondary-color-gradient;
    border-color: $bj-secondary-color;

}
