$bj-white: #FFFFFF;
$bj-very-light-grey: #F0F4F6;
$bj-light-grey: #CFCFCF;
$bj-grey: #596069;
$bj-dark-grey: #34383D;

$bj-black: black;
$bj-black-gradient: linear-gradient(270deg, #4B5158 0%, #34383D 100%);
$bj-disabled-black-gradient: linear-gradient(270deg, #4B5158 0%, #34383D 100%);

$bj-primary-color: #E21F1F;
$bj-primary-color-gradient:  linear-gradient(270deg, #E90E0E 0%, #B72222 100%);
$bj-disabled-primary-color-gradient: linear-gradient(270deg, #E90E0E 0%, #B72222 100%);

$bj-secondary-color: #1A9FD7;
$bj-secondary-color-gradient: linear-gradient(331deg, #1896DE 0%, #1A9FD7 100%);
$bj-disabled-secondary-color-gradient: linear-gradient(331deg, #1896DE 0%, #1A9FD7 100%);

$bj-background-color: $bj-very-light-grey;

.bj-grey {
    color: $bj-grey;
}

.bj-primary-color {
    color: $bj-primary-color;
}