@import 'bdxjug_body';
@import 'bdxjug_colors';
@import 'bdxjug_fonts';
@import 'bdxjug_container';
@import 'bdxjug_navbar';
@import 'bdxjug_table';
@import 'bdxjug_buttons';
@import 'bdxjug_jumbotron';
@import 'bdxjug_images';
@import 'bdxjug_icons';

@import 'bdxjug_shift_panel';

@import 'bdxjug_events';
@import 'bdxjug_info';
@import 'bdxjug_speakers';
@import 'bdxjug_sponsors';
@import 'bdxjug_footer';

body {
    font: 100% $bj-default-font-family;
    color: $bj-default-font-color;
    p {
        font-size: 16px; 
    }
    li {
        font-size: 16px; 
        list-style: none;
        &:before { 
            color: $bj-primary-color;
            content: '\2022';
            display: block;
            position: relative;
            max-width: 0;
            max-height: 0;
            left: -10px;
            top: 0;
            font-size: 20px;
        }
    }
    a {
        color: $bj-primary-color;
        :hover {
            color: $bj-primary-color;
        }
    }
}


