<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:fragment="header">
    <h1><a href="/">Bordeaux JUG</a></h1>
    <ul>
        <li><a href="/info">Infos pratiques</a></li>
        <li><a href="/meetings">Rencontres</a></li>
        <li><a href="/speakers">Speakers</a></li>
        <li><a href="/members">Membres</a></li>
        <li><a href="/association">Association</a></li>
    </ul>
</div>

</body>
</html>