<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <body>

    <th:block layout:fragment="content">
        <div class="bj-container container">

            <h2>L'association</h2>
            <p class="bj-big-font text-justify">Le BordeauxJUG est une association loi 1901, créée en novembre 2009 et inscrite au registre de la ville de Bordeaux. 
                À ce titre, l'association est animée par un bureau élu tous les ans par les membres de l'association.
            </p>

            <hr/>

            <form th:action="@{/association}" th:object="${associationModel}" method="post">
                <p class="bj-normal-font bj-primary-color">Les membres du bureau sont : 
                    <select th:field="*{year}" onchange="submit()">
                        <option th:each="year : ${associationModel.years}" th:value="${year}" th:text="${year}"></option>
                    </select>
                </p>
            </form>
            <div class="row">
                <div th:each="teamMate,row : ${associationModel.teamMates}">
                    <div class="col-md-3 bj-teamMate">
                        <div class="bj-teamMate-content text-center">
                            <div class="">
                                <img th:if="${not #strings.isEmpty(teamMate.urlAvatar)}" th:src="${teamMate.urlAvatar}"/>
                                <img th:if="${#strings.isEmpty(teamMate.urlAvatar)}" src="img/noavatardark.png"/>
                            </div>
                            <div class="bj-teamMate-name">
                                <strong th:text="${teamMate.firstName+' '+teamMate.lastName}"/> 
                            </div>
                            <div class="bj-teamMate-role">
                                <span th:text="${teamMate.role}"/>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <hr/>

            <div class="row">
                <div class="col-md-4 justify-content-center align-self-center">
                    <img src="img/illu-working.png" width="80%"/>
                </div>
                <div class="col-md-8 justify-content-center align-self-center">
                    <h2>Le bureau ...</h2>
                    <p class="text-justify">À la charge d'organiser la vie de l'association, et notamment les réunions du groupe (trouver les speakers, organiser le buffet s'il y a lieu, réserver la salle, faire les annonces, affiche, ...).
                    </p> 
                    <p class="text-justify">Nous sommes toujours à la recherche de sang neuf. Alors n'hésitez pas et rejoignez la team ! </p>
                    <div class="text-right">
                        <a class="bj-btn-primary btn btn-lg" href="mailto:team@bordeauxjug.org">Contacter le bureau</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 justify-content-center align-self-center">
                    <h2>Les membres</h2>
                    <p class="text-justify">Le statut de membre de l'association est avant tout une forme de soutien à l'association, puisque la cotisation (5€ / an) permet de financer en partie les activités du JUG comme le buffet offert à l'issue de la plupart des séances.</p>
                    <p class="text-justify">Il donne également droit au vote pour l'élection du bureau (une fois par an, en décembre), ainsi qu'un accès prioritaire à certaines activités sur lesquelles le nombre est limité. Il permet aussi de bénéficier éventuellement de certains "goodies" offerts par les sponsors, et d'arborer le très convoité "membre officiel du BordeauxJUG" sur sa signature :-)</p>
                    <p class="text-justify">Il est important de noter cependant que ce statut de membre n'est aucunement obligatoire, les événements du BordeauxJUG sont gratuits et ouverts à tous.</p>
                    <div class="text-right">
                        <button type="button" class="bj-btn-primary btn btn-lg" data-toggle="modal" data-target="#memberModal">Devenir membre</button>
                    </div>
                </div>
                <div class="col-md-4 justify-content-center align-self-center">
                    <img src="img/illu-sign-members.png" width="80%"/>
                </div>
            </div>
            <br/>
        </div>
    </th:block>

</body>
</html>

