<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<body>

<th:block layout:fragment="content">
    <h2>Rencontres passées</h2>
    <table>
        <thead>
            <th>
                <td>Date</td>
                <td>Title</td>
                <td>Speaker</td>
                <td>Summary</td>
                <td>Description</td>
            </th>
        </thead>
        <tbody>
            <tr th:each="meeting : ${meetings}"
                th:with="speaker = ${info.speakerOf(meeting)}">
                <td th:text="${meeting.date}"></td>
                <td th:text="${meeting.title}"></td>
                <td th:text="${speaker.firstName} + ' ' + ${speaker.lastName}"></td>
                <td th:utext="${meeting.summary}"></td>
                <td th:utext="${meeting.description}"></td>
            </tr>
        </tbody>
    </table>
</th:block>

</body>
</html>