<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

    <body>

    <th:block layout:fragment="content">
        <div class="bj-container container">
            <h2>Membres</h2>
            <table class="bj-table table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Membre depuis</th>
                        <th>Adhésion à renouveler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}">
                        <td th:text="${member.lastName}"></td>
                        <td th:text="${member.firstName}"></td>
                        <td th:text="${#temporals.format(member.firstRegistration, 'd MMM yyyy')}"></td>
                        <td th:text="${#temporals.format(member.endOfValidity, 'd MMM yyyy')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </th:block>

</body>
</html>