<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <body>

    <th:block layout:fragment="content">
        <div class="bj-info-container container">

            <h2>Speakers</h2>
            <p>Voici la liste des intervenants lors de nos différentes sessions : </p>

            <hr/>

            <div th:each="speaker,row : ${speakers}">
                <div class="row">

                    <div class="col-md-12">
                        <div class="bj-speaker row">
                            <div class="col-md-3">
                                <img th:if="${#strings.isEmpty(speaker.urlAvatar)}"  class="bj-img-avatar-big img-thumbnail img-fluid" src="img/noavatardark.png"/>
                                <img th:if="${not #strings.isEmpty(speaker.urlAvatar)}" class="bj-img-avatar-big img-thumbnail img-fluid" th:src="${speaker.urlAvatar}"/>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6"><strong th:text="${speaker.firstName+' '+speaker.lastName}"/></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"><a th:href="${speaker.twitter}" th:text="${speaker.twitter}" target="_blank"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"> </div>
                                    <div class="col-md-11"> <span th:utext="${speaker.bio}"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </th:block>

</body>
</html>